.one {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(62, 134, 201);
    padding: 10px 200px;
    margin:     0px;
}

body {
    margin: 0%;
    padding: 0%;
}

table {
    position: relative;
    top: -330px;
    left: 600px;
}

.two {
    margin: 0px;
}

hr {
    margin-top: -200px;
}

h4{
    text-align: center;
}

textarea{
    margin: 40px;
}
